BODY {
	BACKGROUND-COLOR: #000080}
FONT {
	COLOR: #ffffff; FONT-FAMILY: sans-serif, Verdana, Arial; FONT-SIZE: 13px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A {
	color: white; font-weight: bold
}
TABLE  { 
	color: white; font-weight: bold; font-size: 10px; font-family: Verdana
}
H2 {
	FONT-FAMILY: sans-serif, Verdana, Arial
}